# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Virtual environment
.venv/
env/
venv/

# BentoML-specific
bento/
__pycache__/
.cache/
models/
*.bento

# General excludes
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.~lock.*

# Temporary files
*.~*
*.temp
*.tmp
*~

images/*

etcd-data/

milvus-data/

minio-data/
